/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  h1, h2 {
    font-weight: bold;
    color: #050505;
  }
  
  p {
    margin-bottom: 20px;
    size: 5cm;
  }
  
  /* Header Section */
  
  header {
    background-color: #a9a4a4;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  header h1 {
    margin-bottom: 10px;
  }
  
  /* Introduction Section */
  
  #our-story {
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #our-story h2 {
    margin-top: 0;
  }
  
  /* What Inspired Us Section */
  
  #what-inspired-us {
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  #what-inspired-us h2 {
    margin-top: 0;
  }
  
  /* Footer Section */
  
  footer {
    background-color: #a9a4a4;
    padding: 10px;
    margin-bottom: 0%;
    position: relative;

    text-align: center;
    color: #fff;
    clear: both;
  }
  
  footer p {
    margin-bottom: 0;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    /* Header Section */
    header {
      padding: 10px;
    }
    
    /* Introduction Section */
    #our-story {
      padding: 20px;
    }
    
    /* What Inspired Us Section */
    #what-inspired-us {
      padding: 20px;
    }
    
    /* Footer Section */
    footer {
      padding: 5px;
    }
  }
  
  @media (max-width: 480px) {
    /* Header Section */
    header {
      padding: 5px;
    }
    
    /* Introduction Section */
    #our-story {
      padding: 10px;
    }
    
    /* What Inspired Us Section */
    #what-inspired-us {
      padding: 10px;
    }
    
    /* Footer Section */
    footer {
      padding: 2px;
    }
  }