/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #e0f7ff;
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;}
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #212121;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  /* Team Member Styles */
  
  .team-member {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #ffff;
    transition: all 0.3s ease-in-out;
    width: calc(20% - 30px); /* Calculate the width to fit 5 team members side by side */
    display: inline-block; /* Make team members display side by side */
    vertical-align: top;
    margin-right: 20px; /* Add margin between team members */
  }
  
  .team-member:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }
  
  .team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .team-member h2 {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .team-member p {
    font-size: 16px;
    color: #666;
  }
  .team-members-container {
    max-width: 1200px; /* Adjust the max-width to your desired value */
    margin: 40px auto; /* Add horizontal margin and center the container */
    padding: 20px; /* Add some padding for better spacing */
    display: flex; /* Use flexbox to center the team members */
    flex-wrap: wrap; /* Allow team members to wrap to the next line */
    justify-content: center; /* Center the team members horizontally */
    width: 100%;
}
  /* Adjust media queries to stack team members in a column on smaller screens */
  
  @media (max-width: 1200px) {
    .team-member {
      width: calc(45% - 20px);
    }
  }
  
  @media (max-width: 992px) {
    .team-member {
      width: 100%;
    }
  }